.delivery-div {
  width: 1500px;
  padding-top: 80px;
  padding-left: 650px;
}

.div-checkout-table {
  position: relative;
  width: 1800px;
  /* height: 514px; */
  /* left: 460px; */
  top: -10px;
  left: -80px;
}

.div-checkout-table p {
  font-size: x-large;
}

.div-checkout-table td {
  padding: 10px;
  height: 20px;
  font-size: x-large;
}

.div-checkout-table th {
  padding: 10px;
}

.item-number {
  width: 20px;
}

.name-item {
  width: 100% auto;
  background-color: #EAF1EF;
}

.quantity-item {
  background-color: #036B52;
  color: white;
  text-align: center;
  font-weight: bold;
}

.unit-price {
  background-color: #421981;
  color: white;
  text-align: center;
  font-weight: bold;
}

.sub-total {
  background-color: #056CF9;
  color: white;
  text-align: center;
  font-weight: bold;
}

.item-number, .item-remove, .button-remove {
  background-color: #2FC18C; 
  /* width: 100%; */
  height: 100%;
  border: 1px solid #2FC18C;
  font-size: x-large;
  font-weight: bold;
}

.button-remove {
  color: white;
  font-size: x-large;
}

.total-price {
  margin-left: 500px;
  background-color: #036B52;
  color: white;
  font-size: x-large;
  width: 200px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  padding-top: 20px;
  border-radius: 15px;
}
