.orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.card-order {
  background: #eaf1ef;
  border: 1px solid #b1c2be;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 0px;
  width: 500px;
  font-size: large;
  color: #001813;
}

.order-text {
  margin: 5px;
}

.order {
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 150px;
  margin: 0px;
}


.order-id {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: larger;
  margin: 0px;
}

.order-status {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: larger;
  height: 80%;
  width: 200px;
  margin: 0px;
  border-radius: 10px;
  margin: 10px;
}

#order-status-Pendente {
  background: #CCB800;
}

#order-status-Preparando {
  background: #66CC00;
}

#order-status-Entregue {
  background: #2FC18C;;
}

.order-date-and-value {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #F2FFFC;
  height: 40px;
  width: 120px;
  margin: 5px;
  border-radius: 10px;
}