.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.button-cart {
  background: #036b52;
  border-radius: 10px;
  border: none;
  bottom: 10px;
  color: #f2fffc;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-weight: bolder;
  height: 8vh;
  position: fixed;
  right: 10px;
  width: 40vh;
}
